<section class="login flex justify-center pt-40">
    <div class="w-full" style="max-width: 28rem">
        <div class="bg-white shadow-md rounded px-8 mb-4"
            style="padding-top: 3rem;padding-bottom: 3.5rem;margin: 1rem;">
            <div class="mb-10">
                <span style="font-size: 1.2rem;font-weight: 600;">
                    Reset Link Is Send To Your Registered Email
                </span>
            </div>
            <div class="flex items-center justify-between">
                <a href="/login">
                    <button
                        class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                        Go Back To Login
                    </button>
                </a>
            </div>
        </div>
        <p class="text-center text-gray-500 text-xs">
            &copy;2020 Skyline Pizza. All rights reserved.
        </p>
    </div>
</section>